<h1>StaticPages#help</h1>
<p>This is a help  page</p>
<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
<head>
  <title>Public Void People | <%= yield(:title) %></title>
</head>
<body>
<h1>Help</h1>
<p>
  We are here to help you with your public void
  <a href="http://www.peoplemerge.com/">everything is possible at public void</a>.
  See, this is app where everything is possible
  <a href="http://www.gambaroff.com">And we will write a book about it</a>.
</p>
</body>
</html>
