<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/transfer_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="jumbotron">
  	
    <h1>Welcome to Public Void</h1>
    <span class="glyphicon glyphicon-cloud-upload"></span>
    <h2></h2>
      
    <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %>	
    
    <div class="visual>"
      <%= link_to image_tag("public_void.jpg", alt: "Free_storage_space")%>
    <div>
  </div>
<% end %>