<%= form_for(@asset_transfer, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <% if @asset_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset_transfer.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
        <% @asset_transfer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="uploads_container"></div>
<script id="template-upload" type="text/x-tmpl">
<div id="upload_{%=o.unique_id%}" class="upload">
  <h5>{%=o.name%}</h5>
  <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
<% end %>