<%= s3_uploader_form callback_url: asset_transfers_url, 
	callback_param: "asset_transfer[direct_upload_url]", 
	id: "s3-uploader" do %>
  <%= hidden_field_tag  "content-type", "" %>
  <%= file_field_tag :file, multiple: true %>
  <%= submit_tag "Submit!", class: "btn btn-large btn-primary" %>
<% end %>


<div id="uploads_container"></div>
<script id="template-upload" type="text/x-tmpl">
<div id="upload_{%=o.unique_id%}" class="upload">
  <h5>{%=o.name%}</h5>
  <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
</div>
</script>